{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'master_css.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <title>Account - QuantumGPT App</title>
    
</head>
<body>
    <div class="app-container">
        <div class="sidebar">
            <div class="dropdown">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                    <a href="{% url 'index' %}">Main</a>
                    <a href="{% url 'app_page' %}">App</a>
                    <a href="{% url 'chat_page' %}">Chat</a>
                    <a href="{% url 'myaccount' %}">Account</a>
                    <a href="{% url 'view_comments' %}">Discussions</a>
                    <a href="{% url 'blog_index' %}">Article</a>
                </div>
            </div>
            <!-- Additional Sidebar Content if needed -->
        </div>
        <div class="response-container">
            <h2>User Information</h2>
            <button id="generateQRCode">Generate QR Code</button>
            <div id="qrcode"></div>
            <p><strong>Username:</strong> {{ request.user.username }}</p>
            <p><strong>Questions Asked:</strong> {{ question_asked }}</p>
            <p><strong>Comments Made:</strong> {{ comments_made }}</p>
            <p><strong>Tokens Left:</strong> {{ question_left }}</p>
            <p><strong>Level of Experience:</strong> {{ experience }}</p>
            <div class="teleporter-container">
                <p><strong>Teleporter:</strong></p>
                <div class="teleporter-text visible" id="teleporterText">Please click edit to edit your teleport message. Your message here will be shared with other users. Some ideas: 1. Say hello and tell us something quantum about you 2. Share your passion 3. Share your contact information </div>
                <textarea class="editable-teleporter" id="editableTeleporter" rows="4" style="display:none;">{{ teleporter }}</textarea>
                <button class="edit-teleporter visible" onclick="editTeleporter()">Edit Teleporter</button>
                <button class="save-teleporter" onclick="saveTeleporter()">Teleport</button>
            </div>
            <!--<div class="search-user-container">
                <form id="searchUserForm" method="POST" action="{% url 'displayuser' %}">
                    {% csrf_token %}
                    <label for="username">Search User:</label>
                    <input type="text" id="username" name="user" required>
                    <button type="submit">Search</button>
                </form>
            </div>-->

            <div class="user-posts">
                <h3>My Article</h3>
                {% for post in user_posts %}
                    <div class="post-preview">
                        <a href="{% url 'blog_detail' post.id %}">{{ post.title }}</a>
                    </div>
                {% empty %}
                    <p>No posts yet.</p>
                {% endfor %}
            </div>
            <div class="follow-container">
                <!-- Followed Users -->
                <div class="follow-list-container">
                    <h3>Followed ({{ followed_users.count }})</h3>
                    <ul class="follow-list">
                        {% for user in followed_users %}
                            <li><a href="{% url 'displayuserID' user.id %}">{{ user.username }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <!-- Followers -->
                <div class="follow-list-container">
                    <h3>Followers ({{ followers.count }})</h3>
                    <ul class="follow-list">
                        {% for user in followers %}
                            <li><a href="{% url 'displayuserID' user.id %}">{{ user.username }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <script>
        document.getElementById('generateQRCode').addEventListener('click', function() {
            var qrCodeContainer = document.getElementById('qrcode');
            
            if (qrCodeContainer.style.display === "none" || qrCodeContainer.style.display === "") {
                qrCodeContainer.innerHTML = ""; // Clear the previous QR code
                var qrcode = new QRCode(document.getElementById("qrcode"), {
                    text: "www.quantumgpt.science/displayuserID/"+ {{ request.user.id }}, // Replace with the URL of the user's profile
                    width: 128,
                    height: 128
                });
                qrCodeContainer.style.display = "block"; // Show the QR code container
            } else {
                qrCodeContainer.style.display = "none"; // Hide the QR code container
            }
        });
        function getCookie(name) {
            let value = "; " + document.cookie;
            let parts = value.split("; " + name + "=");
            if (parts.length == 2) return parts.pop().split(";").shift();
        }
        function editTeleporter() {
            // Send the updated teleporter to the server
            fetch('/update_teleporter/', {
                method: 'POST',
                body: new URLSearchParams({
                    'teleporter': 'The teleporter is empty',
                }),
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',  // Necessary to work with Django
                    'X-CSRFToken': getCookie('csrftoken')  // For CSRF protection in Django
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    let teleporter = data.teleporter;;
                    document.getElementById('editableTeleporter').value = teleporter;
                    document.getElementById('teleporterText').style.display = 'none';
                    document.getElementById('editableTeleporter').style.display = 'block';
                    document.querySelector('.edit-teleporter').style.display = 'none';
                    document.querySelector('.save-teleporter').style.display = 'block';

                } else {
                    alert('Error updating teleporter.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        function saveTeleporter() {
            const teleporter = document.getElementById('editableTeleporter').value;
            // Send the updated teleporter to the server
            fetch('/update_teleporter/', {
                method: 'POST',
                body: new URLSearchParams({
                    'teleporter': teleporter,
                }),
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',  // Necessary to work with Django
                    'X-CSRFToken': getCookie('csrftoken')  // For CSRF protection in Django
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Teleportation completed, and another user can see your message! Due to no cloning theorem, you are not able to see your message here. ');
                    document.getElementById('teleporterText').style.display = 'block';
                    document.getElementById('editableTeleporter').style.display = 'none';
                    document.querySelector('.edit-teleporter').style.display = 'block';
                    document.querySelector('.save-teleporter').style.display = 'none';
                } else {
                    alert('Error updating teleporter.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

    </script>
</body>
</html>
