{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'master_css.css' %}">
<script src="{% static 'master_js.js' %}"></script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuantumGPT App</title>
    
</head>
<body>
    <div class="app-container">
        <div class="sidebar">
            <div class="dropdown">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                    <a href="{% url 'index' %}">Main</a>
                    <a href="{% url 'app_page' %}">Clear</a>
                    <a href="{% url 'chat_page' %}">Chat</a>
                    <a href="{% url 'myaccount' %}">Account</a>
                    <a href="{% url 'view_comments' %}">Discussions</a>
                    <a href="{% url 'blog_index' %}">Article</a>
                </div>
            </div>
            <ul class="session-list">
                <!-- Sessions will be added here -->
                <button id="GPT3.5" class="session-button active" onclick="selectButton('GPT3.5')">GPT-3.5</button>
                <button id="GPT4" class="session-button no-margin-top" onclick="selectButton('GPT4')">GPT-4</button>
            </ul>
            <div class="user-info">
                <p id="usernameElement"><strong>Username:</strong> {{ request.user.username }}</p>
                <p id="questionsLeftElement"><strong>Question Token:</strong> {{ question_left }}</p>
                <p id="commentsMadeElement"><strong>Comments Made:</strong> {{ comments_made }}</p>
                <p id="questionsAskedElement"><strong>Question Asked:</strong> {{ question_asked }}</p>
            </div>
        </div>
        <div class="response-container">
            <h2>Response</h2>
            <!-- QuantumGPT response history -->
        </div>
    </div>
    <div class="input-section">
        <div class="input-wrapper">
            <textarea rows="2" placeholder="Type your quantum-related question here..."></textarea>
            <button class="enter-button" onclick="askQuestion()">Enter</button>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        <!-- ... other form fields ... -->
    </form>
    <script>
        let currentSession = null;

    </script>
</body>
</html>
