{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'master_css.css' %}">
<script src="{% static 'master_js.js' %}"></script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quantum Chat</title>
    
</head>
<body>
    <div class="app-container">
        <div class="sidebar">
            <div class="dropdown">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                    <a href="{% url 'index' %}">Main</a>
                    <a href="{% url 'app_page' %}">App</a>
                    <a href="{% url 'chat_page' %}">Chat</a>
                    <a href="{% url 'myaccount' %}">Account</a>
                    <a href="{% url 'view_comments' %}">Discussions</a>
                    <a href="{% url 'blog_index' %}">Article</a>
                </div>
            </div>
            <button onclick="initiateChat()">Initiate Chat</button>
            <ul id="chatSessionList" class="session-list">
                <!-- Chat session list items will go here -->
            </ul>
        </div>
        <div class="response-container">
            <div class="chat-header">
                <h3 id="chatTitle">No Chat Session Selected</h3>
            </div>
            <div id="operation">
            </div>
            <div class="chat-messages" id="chatMessages">
                <!-- Chat messages will go here -->
            </div>
        </div>
    </div>
    <div class="input-section">
        <div class="input-wrapper">
            <textarea id="messageInput" rows="2" placeholder="Type your message here..."></textarea>
            <button class="enter-button" onclick="sendMessage()">Send</button>
        </div>
    </div>
    <script src="https://js.pusher.com/8.0.1/pusher.min.js"></script>
    <script>

        var pusher = new Pusher("f78938341d8a7ccb7e17", {
            cluster: "us3",
            authEndpoint: '/pusher/auth/', 
            auth: {
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'), // Include CSRF token?
                },
            },
        });
        pusher.connection.bind('connected', function() {
          console.log('Connected to Pusher');
        });

        pusher.connection.bind('disconnected', function() {
          console.log('Disconnected from Pusher');
        });

        pusher.connection.bind('reconnecting', function() {
          console.log('Reconnecting to Pusher');
        });
        let displayedMessageIds = [];
        let is_owner = false;
        let currentChannel = null; 
        let currentSessionId = null;

        document.addEventListener('DOMContentLoaded', function () {
            loadChatSessions();
            // Subscribe to a single channel for updates about all chat sessions
            const updatesChannel = pusher.subscribe('chat-updates');

            // Listen for new message events
            updatesChannel.bind("new-message", function (data) {
                // Assuming data contains a sessionId property indicating the session that has a new message
                if (data && data.sessionId) {
                    // Reload the chat sessions list, moving the updated session to the top
                    loadChatSessions(data.sessionId);
                }
            });
        });


    </script>
</body>
</html>
