{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'master_css.css' %}">
<script src="{% static 'master_js.js' %}"></script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quantum Discussion</title>
    
</head>
<body>
    <div class="app-container">
        <div class="sidebar">
            <div class="dropdown">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                    <a href="{% url 'index' %}">Main</a>
                    <a href="{% url 'app_page' %}">App</a>
                    <a href="{% url 'chat_page' %}">Chat</a>
                    <a href="{% url 'myaccount' %}">Account</a>
                    <a href="{% url 'view_comments' %}">Discussions</a>
                    <a href="{% url 'blog_index' %}">Article</a>
                </div>
            </div>
            <ul class="session-list">

            </ul>
            <div class="user-info">
                <p id="usernameElement"><strong>Username:</strong> {{ request.user.username }}</p>
                <p id="questionsLeftElement"><strong>Question Token:</strong> {{ question_left }}</p>
                <p id="commentsMadeElement"><strong>Comments Made:</strong> {{ comments_made }}</p>
            </div>
        </div>
        <div class="response-container">
            <h2>Edit Article</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button type="submit">Update Post</button>
            </form>
        </div>
    </div>
    
</body>
</html>
